* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 300px;
}

input, button {
    width: 100%;
    padding: 16px;
    display: block;
    margin-bottom: 8px;
}

button {
    background-color: rgb(31, 177, 31);
    color: #fff;
    font-size: 24px;
    border: none;
}

#mensagem {
    display: none;
    width: 100%;
    padding: 16px;
    text-align: center;
}