* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 200px;
    justify-content: center;
}

input, button {
    width: 100%;
    padding: 16px;
    display: block;
    margin-bottom: 8px;
}

button {
    display: block;
    width: 50%;
    padding: 16px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

#mensagem {
    display: none;
    width: 100%;
    padding: 16px;
    text-align: center;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form button {
    margin-left: 260px;
    max-width: 120px;
}